* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}
canvas {
    margin: .5rem 0;
}

.mobileControls button {
    background-image: url(./img/arrow.png);
    background-position: center;
    background-size: cover;
    border: none;
    width: 5rem;
    height: 5rem;
}
.moveUp {
    transform: rotate(180deg);
}
.moveLeft {
    transform: rotate(90deg);
}
.moveRight {
    transform: rotate(270deg);
}